<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368606661743-9ak6cksnnqn3qqvgnctk41if0j9ve4fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368606661743-9ak6cksnnqn3qqvgnctk41if0j9ve4fp</string>
	<key>API_KEY</key>
	<string>AIzaSyC2-noVhZLZeaWyZ_IdjSMaTVeY6Uk2Jgg</string>
	<key>GCM_SENDER_ID</key>
	<string>368606661743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.pamobile.yugioh.cardmaker</string>
	<key>PROJECT_ID</key>
	<string>yugioh-card-maker</string>
	<key>STORAGE_BUCKET</key>
	<string>yugioh-card-maker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368606661743:ios:a8d0a66066f93c78f4d19a</string>
	<key>DATABASE_URL</key>
	<string>https://yugioh-card-maker.firebaseio.com</string>
</dict>
</plist>